*~
*.class
.classpath
.project
.ijwb
.pydevproject
.settings
.javacp*
.checkstyle
target
*.iml
*.pyc
dependency-reduced-pom.xml
.idea
*.DS_Store
.buckd
buck-out
.buckconfig.local
.buckjavaargs*
bucklets/plugins/
.watchmanconfig
.vscode
*.fxs
.github/
/roadm-base/
/bin/
lib/yang
/tools/gui/bin
/tools/gui/node_modules
/tools/gui/false

web/gui/src/main/webapp/tests/node_modules
web/gui/src/test/_karma/node_modules
web/gui/src/main/webapp/node_modules/
web/gui/src/main/webapp/tests/coverage
web/gui/src/main/webapp/dist/
web/gui/src/main/webapp/vendor/

npm-debug.log
sonar-project.properties

out/

bazel-*

node_modules/
web/node_modules/
web/gui/node_modules/
web/gui/.angular/
web/gui/documentation/
web/gui/dist/
web/gui/.pki/
web/gui/.cache/
web/gui/.npm/
web/gui/src/main/webapp/**/*.js
!web/gui/src/main/webapp/rxjs_shims.js
!web/gui/src/main/webapp/rollup.config.js
!web/gui/src/main/webapp/karma.conf.js
web/gui/e2e/**/*.js
web/gui-fw-lib/**/*.js
web/gui-topo-lib/**/*.js
apps/faultmanagement/fm-gui-lib/**/*.js
apps/roadm/web/roadm-gui/**/*.js
apps/yang-gui/yang-gui-lib/**/*.js
apps/inbandtelemetry/intApp-gui/**/*.js
tools/package/archetypes/ui2/src/main/resources/archetype-resources/web/__artifactId__-gui/dist/
tools/package/archetypes/ui2/src/main/resources/archetype-resources/web/__artifactId__-gui/projects/__artifactId__-gui-lib/src/**/*.js
netconf-trial/
openroadm-trial/
wiki/
wiki-staging/
resurrect/